exportPattern("^[[:alpha:]]+")

# Suggested by RMD Check
importFrom("utils", "setTxtProgressBar", "txtProgressBar")
importFrom("mlVAR", "mlVAR")
importFrom("mlVAR", "getNet")
 importFrom("stats", "pt")

# For parallelization
import("foreach")
import("parallel")
import("doParallel")

# Exported S3 Methods
S3method(print, mlVAR_GC)
